<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        用户
        <font color="green">
            <?php
                echo $data['userName']
            ?>
        </font>
        的详细信息如下：
        <br/>
        密码 ： <?php echo $data['userPassword'] ?>
        <br/>
        年龄 ： <?php echo $data['age'] ?>
        <br/>
        学历： <?php echo $data['education'] ?>
        <br/>
        兴趣 ： <?php echo $data['xingqu'] ?>
        <br/>
        来自： <?php echo $data['fromWhere'] ?>
    </h1>
</body>
</html>